:root{
  --backgroundColor: hsl(185, 41%, 84%);
  --screen-color: hsl(183, 100%, 15%);
  --green-color: hsl(172, 67%, 45%);
  }

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body{
  background-color: var(--backgroundColor);
  font-family: 'Space Mono', monospace;
}
header{
  display: flex;
  justify-content: center;
  padding: 5%;
}
main .container{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 20%;
  padding: 2% 2%;
  border-radius: 10%;
}
main .conta input{
  width: 225px;
  height: 30px;
  border-radius: 5%;
  border: 1px solid var(--green-color);
  margin-top: 2%;
}
main .pessoas input{
  width: 225px;
  height: 30px;
  border-radius: 5%;
  border: 1px solid var(--green-color);
  margin-top: 2%;
}
main .tips{
  margin: 15% 0;
}

main .buttons-tips{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
main .tips button{
  font: 20px 'Space Mono', monospace;
  background-color: var(--screen-color);
  width: 70px;
  color: white;
  padding: 2% 1%;
  border-radius: 15%;
}

main .tips input{
  width: 70px;
  height: 35px;
  border-radius: 10%;
  border: 1px solid var(--green-color);
}


main .calculator{

}
main .screen{
  background-color: var(--screen-color);
  display: flex;
  flex-direction: column;
}
main .screen .totalGorjeta{
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;

}
main .screen .totalConta{
  display: flex;
  flex-direction: row;
  margin-bottom: 20%;

}
main .screen p,span{
  color: white;
  margin-left: 5%;
}
main .screen p{
  font-size: 15px;
}
main .screen span{
  font-size: 25px;
  color: var(--green-color);
}
main .screen button{
  width: 200px;
  height: 30px;
  background-color: var(--green-color);
  border: 1px solid var(--green-color);
  border-radius: 5%;
  margin-left: 20%;
}
